/* Estilo da fonte e centralizar textos */
.titulo1, .text1, .text2, .text {
    font-style: inherit;
    text-align: center;
}
.titulo1 {
    /* Posição dos textos */
    margin-top: -80px;
    /* Tamanho da Fonte */
    font-size: 21px;
}
.text1 {
    /* Posição dos textos */
    margin-left: 350px;
    margin-top: -51px;
    /* Tamanho da Fonte */
    font-size: 16px;
}
.text2 {
    /* Tamanho da Fonte e negrito */
    font-size: 18px;
    font-weight: bold;
}
.text {
    /* Posição dos textos */
    margin-top: -15px;
}

/* Centralizar os retângulos e cor na borda */
.retangulo, .retanguloG {
    position: relative;
    border: 2px solid #333;
}
.retangulo {
    /* Arredondar */
    border-radius: 20px;
    /* Tamanho */
    width: 410px;
    height: 30px;
    /* Cor */
    background-color: #E3E3E3;
    /* Posição */
    margin-left: 48%;
    margin-top: -16px;
}
.retanguloG {
    /* Posição */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Arredondar */
    border-radius: 6px;
    /* Tamanho */
    width: 820px;
    max-height: 420px;
    /* Adiciona rolagem vertical */
    overflow-y: auto;
}

/* Adiciona um estilo à barra de rolagem */
.retanguloG::-webkit-scrollbar {
    /* Largura da barra de rolagem */
    width: 9px;
}
.retanguloG::-webkit-scrollbar-thumb {
    /* Cor da barra de rolagem */
    background-color: #6c757d;
    /* Borda arredondada */
    border-radius: 10px;
}
.retanguloG::-webkit-scrollbar-track {
    /* Borda arredondada */
    border-radius: 20px;
    /* Cor de fundo da barra de rolagem */
    background-color: #f2f2f2;
}

/* Deixar transparente as bordas */
.incolor{
    border-left: transparent;
    border-right: transparent;
}

table {
    /* Ocupar o retangulo inteiro */
    width: 100%;
    /* Juntar os itens */
    border-collapse: collapse;
    /* Tirar a barra de rolagem horizontal */
    overflow-x: hidden;
}

th, td {
    /* Cor da borda */
    border: 1px solid #ddd;
    /* Espaço do texto e centralizar */
    padding: 4px 1px;
    text-align: center;
    /* Tamanho das caixas dos itens da tabela */
    min-width: 133px;
    max-width: 133px;
    height: 45px;
    /* Quebrar o texto mesmo se não tiver \n */
    word-wrap: break-word;
}
  
th {
    /* Cor do cabeçalho */
    background-color: #f2f2f2;
}

.input-Buscar {
    /* Ocupar a caixa de busca */
    width: 99%;
    height: 100%;
    /* Tirar a borda, a cor de fundo e o contorno quando clickar */
    border: none;
    background-color: transparent;
    outline: none;
    /* Tamanho e centralizar texto */
    font-size: 16px;
    text-align: center;
}

button {
    /* Tamanho */
    width: 100px;
    height: 40px;
    /* Cor de fundo e do texto */
    background-color: #E3E3E3;
    color: #000000;
    /* Posição */
    margin-left: -3px;
    /* Negrito */
    font-weight: 600;
    /* Mudar cursor */
    cursor: pointer;
    /* Arredondar */
    border-radius: 10px;
}

.novo {
    /* Tamanho */
    width: 20%;
    height: 50px;
    /* Cor de fundo e do texto */
    background-color: #8C44EB;
    color: white;
    /* Posição */
    margin-left: 25%;
    /* Tamanho do texto */
    font-size: 20px;
    /* Arredondar */
    border-radius: 20px;
    /* Mudar cursor */
    cursor: pointer;
    /* Borda preta em volta */
    border: 2px solid #000;
    /* Sombreado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Aumentar o tamanho do "button" quando passar mouse em cima */
.novo:hover {
    transform: scale(1.01);
}

.overlay {
    /* Posição */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* Ocupar e escurece a tela */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Centralizar */
    align-items: center;
    /* Garantir que fique em cima de tudo */
    z-index: 1000;
}
  
.modal {
    /* Cor */
    background-color: white;
    /* Espaço entre o conteúdo e as bordas */
    padding: 20px;
    /* Arredondar */
    border-radius: 10px;
    /* Sombreado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Posição */
.botoes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

/* Mudar cursor */
.adicionar {
    cursor: not-allowed;
}

/* Cor quando habilitado e mudar cursor */
.adicionar:enabled {
    background-color: #44EB55;
    cursor: pointer;
}

/* Cor, posição e tamanho */
.editar {
    background-color: #44EB55;
}
.cancelar {
    margin-left: 20px;
}
.cancelar, .excluir1, .excluir2 {
    background-color: #EB4444
}
.excluir2 {
    margin-top: -10px;
    width: 120px;
    height: 50px;
}
.avancar {
    color: white;
    background-color: #8C44EB;
    margin-right: 15px;
}
.repensar {
    margin-top: -10px;
    margin-left: 60px;
    width: 120px;
    height: 50px;
}

/* Aumentar o tamanho do "button" quando passar mouse em cima */
.avancar:hover {
    transform: scale(1.01);
}

/* Posição */
.input_box_rg {
    margin-left: 16px;
    margin-top: 10px;
}
.input_box_foto {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-upload {
    /* Tamanho */
    width: 100px;
    height: 133px;
    /* Tamanho da fonte e negrito */
    font-size: 12px;
    font-weight: bold;
    /* Posição */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adiciona borda arredondada na cor preta */
    border-radius: 4px;
    border: 2px solid #000;
    /* Alterar o cursor */
    cursor: pointer;
    /* Esconde qualquer conteúdo que transborde do contêiner */
    overflow: hidden;
    /* Adiciona uma transição suave na cor de fundo */
    transition: background-color 0.3s ease;
}

.input_box_foto:not(.with-file) .custom-file-upload {
    /* Cor de fundo e da letra */
    background-color: #ababab;
    color: #fff;
}

.foto-preview {
    /* Manter a proporção da imagem */
    width: 100%;
    height: auto;
    object-fit: contain;
}

td img {
    /* Garante que a largura da imagem não ultrapasse a largura da célula da tabela */
    max-width: 100%;
    /* Tamanho da imagem */
    height: 100px;
    /* Posição */
    display: block;
    margin: auto;
  }
