<p class="titulo">Seja bem-vindo! Este é o portal da empresa responsável por uma gestão ágil<br />
        do Banco de Dados relacionado aos funcionários e departamentos. Você<br />
        deve ser bem importante e confiável por ter acesso a essa plataforma.</p>

<!-- Botão para redirecionar a página para "/departamento" -->
<div class="button-centro">
    <a href="/departamento"><button type="button"><b>Começar</b></button></a>
</div>

<p class="text">Essas são as funcionalidades disponíveis. Podendo<br />ser executadas para funcionário ou departamento.</p>

<!-- Imagem da página -->
<div>
    <img src="assets/funcoes.png" alt="Funcoes">
</div>
