<!-- Espaço vazio para garantir que o rodapé não fique em cima do conteúdo no final da página -->
<div class="vazio"></div>

<div class="rodape">
  <!-- ano de quando foi criado o site e o nome do autor (variáveis armazenadas no arquivo TypeScript junto com os links) -->
  <h2 class="text"><span>{{ano}}</span><span>{{nome}}</span></h2>

  <!-- Abrir em um novo guia e evitar possíveis vulnerabilidades relacionadas a abrir links em uma nova janela -->
  <!-- LinkedIn -->
  <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer" class="linkdin">
    <img src="assets/Linkdin.png"  alt="LinkedIn">
  </a>

  <!-- GitHub -->
  <a href="{{github}}" target="_blank" rel="noopener noreferrer" class="github">
    <img src="assets/Github.png"  alt="GitHub">
  </a>
</div>
